registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@adobe:registry=https://registry.npmjs.org/
@alloc:registry=https://registry.npmjs.org/
@ampproject:registry=https://registry.npmjs.org/
@jest:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@testing-library:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
